body {
  background-position: center;
  background: url("https://wallpapercave.com/wp/wp1822754.jpg") fixed center;
  background-size: auto;
}
#guess {
    border-radius: 25px;
    background: #73AD21;
    margin: auto;
    padding: 20px;
    width: 200px;
    height: 150px;
    box-shadow: rgba(95, 2, 107, 0.774);
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: rgba(95, 2, 107, 0.774);
    width: 300px;
    margin: auto;
}
.buttons {
    align-self: center;
    width: 1100px;
    margin: auto;
}
button {
     border-radius: 8px;
     border: 3px solid rgba(95, 2, 107, 0.774);
     padding: 5px solid rgba(95, 2, 107, 0.774);
}